<launch>
    <arg name="configfile" default="/home/shentao/code/sm_gvins_ws/src/config/euroc_stereo_config.yaml"/>

    <node name="sm_gvins_node" pkg="sm_gvins" type="sm_gvins_node" output="screen"
          args="$(arg configfile)" />

    <node name="visualisation" pkg="rviz" type="rviz" output="log" args="-d /home/shentao/code/sm_gvins_ws/src/config/visualization.rviz"/>

</launch>
